[submodule "services/crawler"]
	path = services/crawler
	url = https://github.com/0bs-chat/crawler.git
[submodule "services/doc_processor"]
	path = services/doc_processor
	url = https://github.com/0bs-chat/doc_processor.git
